[submodule "productivity/editor/.vim/bundle/nerdtree"]
	path = editor/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "productivity/editor/.vim/bundle/vim-colors-solarized"]
	path = editor/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "productivity/editor/.vim/bundle/ctrlp.vim"]
	path = editor/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "productivity/editor/.vim/bundle/vim-javascript"]
	path = editor/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "productivity/editor/.vim/bundle/ag.vim"]
	path = editor/.vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "editor/.vim/bundle/surround"]
	path = editor/.vim/bundle/surround
	url = https://tpope.io/vim/surround.git
